@import "setup";
@import "mixin";
@import "vars";

body {
    font-family: $bodyFont;
    font-weight: normal;
    font-size: 125%;
    line-height: 1.75;
    background-color: $offWhite;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

// h1, h2, h3, h4 {
//     font-family: $headingFont;
// }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

.arrow,
.arrowUp {
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
}

// ========= HEADER 
header {
    height: 100vh;
    
    h1 {
        background-color: $salmon;
        background-size: 4rem 60rem;
        font-family: $headingFont;
        font-size: 8rem;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        padding: 3rem 0;
    }

    p {
        text-align: center;
    }

    span {
        display: block;
    }

    span:before {
        content: '';
        animation: animate infinite 8s;
    }

    @keyframes animate {
        0%{
            content: 'Front-end Developer';
        }

        20%{
            content: 'Hairstylist';
        }

        40% {
            content: 'Foodie';
        }

        60%{
            content: 'Front-end Developer';
        }

        80%{
            content: 'Hairstylist';
        }

        100% {
            content: 'Foodie';
        }



    }
}

// ========= NAV
nav .openNav {
    display: none;
    margin: 1rem;
}

.closeNav {
    display: none;
}

// .responsiveBar {
//     display: flex;
//     top: 0;
// }

.navigationBar {
    display: flex;
    justify-content: space-evenly;
    border-top: 3px solid $lightGrey;
    border-bottom: 3px solid $lightGrey;
    margin-top: 4rem;
    position: relative;
    // top: 50vh;

    a {
        color: $darkGrey;
        margin: 1rem;
        padding: 0 1rem;
        
    }

    a:hover,
    a:focus {
        color: $salmon;
        border-left: 3px solid $lightGrey;
        border-right: 3px solid $lightGrey;
    }
}
// ========= ABOUT
.aboutContainer {
    display: flex;
    margin: 5rem 0 2rem 0;
    padding: 2rem;
    height: 80vh;
    
    .aboutText {
        width: 65%;
        margin-left: 4rem;
        padding: 3rem;

        h2 {
            text-transform: uppercase;
        }

        h2::before {
            content: '';
            background-color: $salmon;
            height: .5rem;
        }
    }

    img {
        width: 35%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }
}

// ========= PROJECTS
.projectList {
    display: flex;
    flex-direction: column;

    .skillsArrow {
        display: inline-block;
        position: absolute;
        right: .5rem;
    }

    .projectOne,
    .projectTwo,
    .projectThree,
    .projectFour {
        display: flex;
        margin: .5rem 0;

        .projectOneText,
        .projectTwoText,
        .projectThreeText,
        .projectFourText {
            width: 60%;
            padding: 3rem 3rem 3rem 7rem;
            border: 1px solid $lightGrey;
            

            .languages ul {
                display: flex;

                li {
                    font-size: .8rem;
                    margin-right: 1rem;
                    text-transform: uppercase;
                }
            }
        }

        img {
            width: 40%;
            height: 30rem;
        }
    }

    button {
        background-color: $lightestGreen;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 1.5rem;
    }

    button:hover,
    button:focus {
        background-color: $sage;
    }

    a {
        color: $darkGrey;
    }
}

.projectOne:hover,
.projectTwo:hover,
.projectThree:hover,
.projectFour:hover {
    box-shadow: 0px 3px 0px #b2a98f,
                        0px 14px 10px rgba(0,0,0,0.15),
                        0px 24px 2px rgba(0,0,0,0.1),
                        0px 34px 30px rgba(0,0,0,0.1);
}

// ========= SKILLS 
.skillsSection {
    height: 80vh;
}
.skillsList {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;

    li {
        margin: 2rem 2rem;
        text-align: center;

        i {
            font-size: 4rem;
            text-shadow: 0px 3px 0px #b2a98f,
                        0px 14px 10px rgba(0,0,0,0.15),
                        0px 24px 2px rgba(0,0,0,0.1),
                        0px 34px 30px rgba(0,0,0,0.1);
        }

        li:hover {
            color: $salmon;
            font-size: 6rem;
            transition: all ease-in-out 0.5s;
            margin: none;
        }

        p {
            text-transform: uppercase;
        }
    }
}

// ========= FOOTER
footer {
    text-align: center;
    background-color: $sage;

    p {
        margin: 0;
        padding: 1rem 0;
        color: $lightGrey;
    }
}

// ================================ MEDIA QUERIES
@media (max-width: 1100px) {
    header {
        height: 85vh;
        
        h1 {
            font-size: 7.5rem;
            margin: 0;
        }
    }

    .navigationBar {
        margin-top: 8rem;
    }

    .aboutContainer {
        margin-bottom: 0;
        .aboutText {
            padding: 0;
        }
    }
}
@media (max-width: 980px) {
    header {
        h1 {
            font: 6rem;
        }
    }

    .aboutContainer {
        
        .aboutText {
            margin-left: 1rem;
            width: 55%;
        }

        img {
            width: 45%;
        }
    }  

}

@media (max-width: 780px) {
    header {
        h1 {
            font-size: 5rem;
        }
    }

    .aboutContainer {
        flex-direction: column;

        .aboutText {
            width: 100%;

            h2 {
                text-align: center;
            }
        }

        img {
            width: 50%;
            height: 30rem;
            margin: 0 auto;
        }
    }

    .projectContainer h2 {
        text-align: center;
    }

    .skillsSection {
        h2 {
            text-align: center;
        }
    }
}

@media (max-width: 625px) {
    nav .openNav {
        display: block;
        font-size: 1.5rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .closeNav {
        display: block;
        font-size: 1.5rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .navigationBar {
        height: 100vh;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $sage;
        position: fixed;
        top: 0;
        right: 0;
        // left: 0;
        z-index: 5;
        margin-top: 0;
        transition: transform .3s cubic-bezier(0, .52, 0, 1);
    }

    .responsiveBar {
        display: flex;
        top: 0;
    }
}

@media (max-width: 480px) {
    header {
        
        h1 {
            font-size: 5rem;
        }

        .navigationBar {
            display: none;
        }
    }

    .aboutContainer {
        .aboutText {
            padding: 1rem;
        }

        img {
            width: 100%;
        }
    }

    .projectList {

        .projectOne,
        .projectTwo,
        .projectThree,
        .projectFour {
            flex-direction: column;
            margin: 0;
    
            .projectOneText,
            .projectTwoText,
            .projectThreeText,
            .projectFourText {
                width: 100%;
                padding: 2rem;
                text-align: center;
            }
    
            img {
                width: 100%;
            }

        }
    }
}