@import "setup";
@import "mixin";
@import "vars";

body {
    background-color: $offWhite;
    color: $darkGrey;
    font-family: $bodyFont;
    font-weight: normal;
    font-size: 125%;
    line-height: 1.75;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

h2,
h4 {
    text-align: right;
    text-transform: uppercase;
    position: relative;
}

h2::before,
h4::before {
    content: '';
    display: block;
    height: 4px;
    position: absolute;
    left: 0;
    top: 50%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    // max-height: 100%;
}

.arrow,
.arrowUp {
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
    color: $sage;
}

.aboutArrow,
.skillsArrow,
.arrowUp {
    color: $salmon;
}

// ========= HEADER 
header {
    height: 90vh;
    background-image: url($png);
    
    .helloMsg {
        text-align: left;
        margin: 0;
        color: $salmon;
        // padding: 2rem 0;

        span {
            display: block;
            padding-left: 2rem;
        }
    }

    h1 {
        // background-image: url($png);
        color: $salmon;
        font-size: 8rem;
        text-align: right;
        text-transform: uppercase;
        margin: 0;
    }


    .developer {
        font-size: 3rem;
        text-align: right;
        color: $sage;
    }

    .helloMsg,
    .developer {
        // text-align: right;
        padding: 2rem 0;
        font-family: $headingFont;
        // margin: 0;
    }
}

// ========= NAV
nav .openNav {
    display: none;
    margin: 1rem;
}

.closeNav {
    display: none;
}

.navigationBar {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background-color: $lightestGreen;
    margin-top: 5rem;
    border-bottom: 3px solid $sage;
    border-top: 3px solid $sage;
    box-shadow: 17px 38px 32px -6px $lightGrey;

    a {
        color: $darkGrey;
        margin: 1rem;
        padding: 0 1rem;
        
    }

    a:hover,
    a:focus {
        color: $sage;
    }

    a:after,
    a:before {
        border: 1px solid white;
        content: " ";
        display: block;
        margin: .5rem auto;
        transition: all 280ms ease-in-out;
        width: 0;
    }

    a:hover:after,
    a:hover:before {
        border-color: $salmon;
        transition: width 350ms ease-in-out;
        width: 70%;
    }

    a:hover:before {
        width: 70%;
    }
}

// ========= ABOUT
.aboutSection {
    display: flex;
    height: 80vh;
    margin-top: 5rem;
    padding: 2rem;

    .aboutImg {
        width: 30%;
        
        img {
            // height: 100%;
            border-top-left-radius: 40%;
            border-top-right-radius: 40%;
            // object-fit: contain;
        }
    }

    .aboutText {
        width: 70%;
        margin-left: 4rem;
        // padding: 3rem;

        h2 {
            margin: 1rem 0;
        }

        h2::before {
            width: 65%;
            background-color: $sage;
        }

        p {
            margin: 1rem 0;
        }
    }

}

.projectArrow {
    margin: 0;
}

// ========= PROJECTS
.projectSection h2::before {
    width: 75%;
    background-color: $salmon;
}

.projectList {

    .skillsArrow {
        display: inline-block;
        position: absolute;
        right: .5rem;
    }

    .projectOne,
    .projectTwo,
    .projectThree,
    .projectFour {
        display: flex;
        margin: 1.5rem 0;
        // height: 25rem;

        .projectOneText,
        .projectTwoText,
        .projectThreeText,
        .projectFourText {
            width: 60%;
            background-color: $lightestGreen;
            padding: 3rem 3rem 3rem 7rem;
            border: 1px solid $lightGrey;
            
            
            .languages ul {
                display: flex;

                li {
                    font-size: .9rem;
                    margin-right: 1rem;
                    text-transform: uppercase;
                }
            }
        }

        .projectOneImg,
        .projectTwoImg,
        .projectThreeImg,
        .projectFourImg {
            width: 40%;
            height: 25rem;

            img {
                height: 100%;
            }
        }
    }

    button {
        background-color: $lightestGreen;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 1.5rem;
    }

    button:hover,
    button:focus {
        background-color: $sage;
    }

    a {
        color: $darkGrey;
    }
}

.projectOne:hover,
.projectTwo:hover,
.projectThree:hover,
.projectFour:hover {
    transform: scale(1.1);
    transition: all .5s ease;
    box-shadow: 17px 38px 32px -6px rgba(250,180,162,0.46);

    .html {
        color: #e34c26;
    }
    
    .css {
        color: #264de4;
    }
    
    .sass {
        color: #cc6699;
    }
    
    .js {
        color: #f0db4f;
    }
    
    .react {
        color: #88dded
    }
    
    .firebase {
        color: #FFA611;
    }
    
    .api {
        color: $lightGrey;
    }
}

// ========= SKILLS 
.skillsSection {
    height: 80vh;

    h2::before {
        width: 62rem;
        background-color: $sage;
    }
}

.skillsList {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-evenly;
    flex-wrap: wrap;

    li {
        margin: 2rem;
        text-align: center;

        i {
            font-size: 4rem;
            text-shadow: 0px 3px 0px #b2a98f,
                        0px 14px 10px rgba(0,0,0,0.15),
                        0px 24px 2px rgba(0,0,0,0.1),
                        0px 34px 30px rgba(0,0,0,0.1);
        }

        li:hover {
            color: $salmon;
            font-size: 6rem;
            transition: all ease-in-out 0.5s;
            margin: none;
        }

        p {
            text-transform: uppercase;
        }
    }
}

// ========= CONTACT
.formContainer {
    display: flex;

    .formText {
        width: 40%;
    }

    form {
        width: 60%;
        display: flex;
        flex-direction: column;
        background-color: $lightestGreen;
        padding: 2rem;
        margin-left: 2rem;
        position: relative;
        border-right: 5px solid $salmon;
        border-bottom: 5px solid $salmon;
    
    
        .inputs {
            display: flex;
    
            input[type=text],
            input[type=email] {
                width: 50%;
                height: 3rem;
                margin-bottom: 1rem;
            }

            input[type=text] {
                margin-right: 1rem;
            }
        }

        input[type=text],
        input[type=email],
        textarea {
            background-color: none;
            border: none;
            border-right: 2px solid $sage;
            border-bottom: 2px solid $sage;
            border-radius: 1.5rem;
            padding: 1rem;
        }

        textarea {
            resize: none;
            height: 15rem;
        }
    
        button {
            width: 45%;
            background-color: $lightestGreen;
            color: $salmon;
            text-transform: uppercase;
            border: none;
            margin: 1rem auto;
            padding: 1rem;
            border-radius: 1.5rem;
        }   
    }
}

h4 {
    font-size: 2rem;
}

h4::before {
    width: 70%;
    background-color: $salmon;
}

// ========= FOOTER
footer {
    text-align: center;
    background-color: $sage;

    p {
        margin: 0;
        padding: 1rem 0;
        color: $lightGrey;
    }
}

// ================================ MEDIA QUERIES
@media (max-width: 1100px) {
    header {
        height: 85vh;
        
        h1 {
            font-size: 7.5rem;
            margin: 0;
        }

        .developer {
            padding: 0;
        }
    }

    .navigationBar {
        margin-top: 0rem;
    }

    .navigationBar::before {
        width: 103.5%;
    }

    .aboutSection {
        margin-bottom: 0;

        .aboutText {
            padding: 0;

            h2::before {
                width: 60%;
            }
        }
    }

    .projectSection h2::before {
        width: 75%;
    }

    .projectList {

        .projectOne,
        .projectTwo,
        .projectThree,
        .projectFour {
            width: 90%;

            .projectOneText,
            .projectTwoText,
            .projectThreeText,
            .projectFourText {
                padding: 1.5rem 2rem;
            }
        }
    }

    .skillsSection {

        h2::before {
            width: 75%;
        }

        .skillsList {
            li {
                margin: 1rem;
            }
        }
    }
}

@media (max-width: 980px) {
    body {
        line-height: 1.50;
    }

    header {
        h1 {
            font: 6rem;
        }

        .developer {
            padding: 0;
        }
    }

    .aboutSection {
        
        .aboutText {
            margin-left: 1rem;
            padding-left: 2rem;

            h2::before {
                width: 50%;
            }
        }
    }  

    .projectSection h2::before {
        width: 65%;
    }

    .skillsSection {

        h2::before {
            width: 65%;
        }

        .skillsList {
            i {
                font-size: 3rem;
            }
        }
    }

    h4::before {
        width: 65%;
    }

}

@media (max-width: 780px) {
    body {
        text-align: center;
    }

    .arrow {
        display: none;
    }

    h2::before,
    h4::before {
        content: '';
        display: block;
        height: 45%;
        position: absolute;
        left: 25%;
        bottom: -5%;
        z-index: -100;
    }

    header {
        h1 {
            font-size: 5rem;
        }

        .aboutArrow {
            display: block;
        }
    }

    .aboutSection {
        flex-direction: column;
        height: inherit;

        .aboutText {
            width: 100%;
            margin-left: 0;
            padding-left: 0;

            h2 {
                text-align: center;
            }

            h2::before {
                width: 50%;
            }
        }

        .aboutImg {
            width: 45%;
            margin: 0 auto;
        }
    }

    .projectSection h2 {
        text-align: center;
    }
    .projectSection h2::before {
        width: 50%
    }

    .projectList {
        .skillsArrow {
            display: block;
        }
    }

    .skillsSection {
        h2 {
            text-align: center;
        }

        h2::before {
            width: 50%;
        }
    }

    h4 {
        text-align: center;
    }

    h4::before {
        width: 50%;
    }

    .formContainer {
        flex-direction: column;

        .formText,
        form {
            width: 100%;
        }

        form {
            margin: 0;
        }
    }
}

@media (max-width: 625px) {
    .arrow {
        display: none;
    }

    .aboutArrow {
        display: block;
    }

    nav .openNav {
        display: block;
        font-size: 1.5rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .closeNav {
        display: block;
        font-size: 1.5rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .navigationBar {
        height: 100vh;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $sage;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 5;
        margin-top: 0;
        transition: transform .3s cubic-bezier(0, .52, 0, 1);
    }

    .responsiveBar {
        display: flex;
        top: 0;
    }

    .projectList {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .skillsArrow {
            display: none;
        }

        .projectOne,
        .projectTwo,
        .projectThree,
        .projectFour {
            width: 100%;
            flex-direction: column;

            .projectOneImg,
            .projectTwoImg,
            .projectThreeImg,
            .projectFourImg {
                width: 100%;
            }

            .projectOneText,
            .projectTwoText,
            .projectThreeText,
            .projectFourText {
                width: 100%;

                .languages ul {

                    li {
                        margin: 0 auto;
                    }
                }
            }
        }

        .projectOne:hover,
        .projectTwo:hover,
        .projectThree:hover,
        .projectFour:hover {
            transform: scale(1.05);
        }
    }

    .skillsSection {
        height: inherit;
    }
}

@media (max-width: 480px) {
    h2::before,
    h4::before {
        content: '';
        display: block;
        height: 45%;
        position: absolute;
        left: 12%;
        bottom: -5%;
        z-index: -100;
    }

    header {
        
        h1 {
            font-size: 5rem;
        }

        .navigationBar {
            display: none;
        }
    }

    .aboutSection {
        .aboutImg {
            width: 60%;
        }

        .aboutText {
            padding: 1rem;

            h2::before {
                width: 75%;
            }
        }
    }

    .projectList {

        .projectOne,
        .projectTwo,
        .projectThree,
        .projectFour {
            flex-direction: column;
            margin: 0;
            width: 90%;
            margin: 1rem auto;
    
            .projectOneText,
            .projectTwoText,
            .projectThreeText,
            .projectFourText {
                padding: 2rem;
                text-align: center;
            }

        }
    }

    .projectSection h2::before {
        width: 75%
    }

    .skillsSection {
        h2::before {
            width: 75%;
        }
    }

    h4::before {
        width: 75%;
    }
}