html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #f0EFED;
  color: #545454;
  font-family: "Prata", serif;
  font-weight: normal;
  font-size: 125%;
  line-height: 1.75;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

h2,
h4 {
  text-align: right;
  text-transform: uppercase;
  position: relative;
}

h2::before,
h4::before {
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  left: 0;
  top: 50%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.arrow,
.arrowUp {
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
  color: #b1c7a4;
}

.aboutArrow,
.skillsArrow,
.arrowUp {
  color: #fab4a2;
}

header {
  height: 90vh;
}
header h1 {
  color: #fab4a2;
  font-size: 8rem;
  text-align: right;
  text-transform: uppercase;
  margin: 5rem 0 0 0;
}
header h1::before {
  height: 9rem;
  background-image: url(../assets/woman.png);
}
header .developer {
  font-family: "BioRhyme", serif;
  font-size: 3rem;
  text-align: right;
  color: #b1c7a4;
  margin-top: 0;
}

nav .openNav {
  display: none;
  margin: 1rem;
}

.closeNav {
  display: none;
}

.navigationBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  background-color: #f6fff1;
  margin-top: 5rem;
  border-bottom: 3px solid #b1c7a4;
  border-top: 3px solid #b1c7a4;
  -webkit-box-shadow: 17px 38px 32px -6px #868686;
          box-shadow: 17px 38px 32px -6px #868686;
}
.navigationBar a {
  color: #545454;
  margin: 1rem;
  padding: 0 1rem;
}
.navigationBar a:hover,
.navigationBar a:focus {
  color: #b1c7a4;
}
.navigationBar a:after,
.navigationBar a:before {
  border: 1px solid white;
  content: " ";
  display: block;
  margin: 0.5rem auto;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}
.navigationBar a:hover:after,
.navigationBar a:hover:before {
  border-color: #fab4a2;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}
.navigationBar a:hover:before {
  width: 70%;
}

.aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  margin-top: 5rem;
  padding: 2rem;
}
.aboutSection .aboutImg {
  width: 30%;
}
.aboutSection .aboutImg img {
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
}
.aboutSection .aboutText {
  width: 70%;
  margin-left: 4rem;
}
.aboutSection .aboutText h2 {
  margin: 1rem 0;
}
.aboutSection .aboutText h2::before {
  width: 65%;
  background-color: #b1c7a4;
}
.aboutSection .aboutText p {
  margin: 1rem 0;
}

.projectArrow {
  margin: 0;
}

.projectSection h2::before {
  width: 75%;
  background-color: #fab4a2;
}

.projectList .skillsArrow {
  display: inline-block;
  position: absolute;
  right: 0.5rem;
}
.projectList .projectOne,
.projectList .projectTwo,
.projectList .projectThree,
.projectList .projectFour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5rem 0;
}
.projectList .projectOne .projectOneText,
.projectList .projectOne .projectTwoText,
.projectList .projectOne .projectThreeText,
.projectList .projectOne .projectFourText,
.projectList .projectTwo .projectOneText,
.projectList .projectTwo .projectTwoText,
.projectList .projectTwo .projectThreeText,
.projectList .projectTwo .projectFourText,
.projectList .projectThree .projectOneText,
.projectList .projectThree .projectTwoText,
.projectList .projectThree .projectThreeText,
.projectList .projectThree .projectFourText,
.projectList .projectFour .projectOneText,
.projectList .projectFour .projectTwoText,
.projectList .projectFour .projectThreeText,
.projectList .projectFour .projectFourText {
  width: 60%;
  background-color: #f6fff1;
  padding: 3rem 3rem 3rem 7rem;
  border: 1px solid #868686;
}
.projectList .projectOne .projectOneText .languages ul,
.projectList .projectOne .projectTwoText .languages ul,
.projectList .projectOne .projectThreeText .languages ul,
.projectList .projectOne .projectFourText .languages ul,
.projectList .projectTwo .projectOneText .languages ul,
.projectList .projectTwo .projectTwoText .languages ul,
.projectList .projectTwo .projectThreeText .languages ul,
.projectList .projectTwo .projectFourText .languages ul,
.projectList .projectThree .projectOneText .languages ul,
.projectList .projectThree .projectTwoText .languages ul,
.projectList .projectThree .projectThreeText .languages ul,
.projectList .projectThree .projectFourText .languages ul,
.projectList .projectFour .projectOneText .languages ul,
.projectList .projectFour .projectTwoText .languages ul,
.projectList .projectFour .projectThreeText .languages ul,
.projectList .projectFour .projectFourText .languages ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projectList .projectOne .projectOneText .languages ul li,
.projectList .projectOne .projectTwoText .languages ul li,
.projectList .projectOne .projectThreeText .languages ul li,
.projectList .projectOne .projectFourText .languages ul li,
.projectList .projectTwo .projectOneText .languages ul li,
.projectList .projectTwo .projectTwoText .languages ul li,
.projectList .projectTwo .projectThreeText .languages ul li,
.projectList .projectTwo .projectFourText .languages ul li,
.projectList .projectThree .projectOneText .languages ul li,
.projectList .projectThree .projectTwoText .languages ul li,
.projectList .projectThree .projectThreeText .languages ul li,
.projectList .projectThree .projectFourText .languages ul li,
.projectList .projectFour .projectOneText .languages ul li,
.projectList .projectFour .projectTwoText .languages ul li,
.projectList .projectFour .projectThreeText .languages ul li,
.projectList .projectFour .projectFourText .languages ul li {
  font-size: 0.9rem;
  margin-right: 1rem;
  text-transform: uppercase;
}
.projectList .projectOne .projectOneImg,
.projectList .projectOne .projectTwoImg,
.projectList .projectOne .projectThreeImg,
.projectList .projectOne .projectFourImg,
.projectList .projectTwo .projectOneImg,
.projectList .projectTwo .projectTwoImg,
.projectList .projectTwo .projectThreeImg,
.projectList .projectTwo .projectFourImg,
.projectList .projectThree .projectOneImg,
.projectList .projectThree .projectTwoImg,
.projectList .projectThree .projectThreeImg,
.projectList .projectThree .projectFourImg,
.projectList .projectFour .projectOneImg,
.projectList .projectFour .projectTwoImg,
.projectList .projectFour .projectThreeImg,
.projectList .projectFour .projectFourImg {
  width: 40%;
  height: 25rem;
}
.projectList .projectOne .projectOneImg img,
.projectList .projectOne .projectTwoImg img,
.projectList .projectOne .projectThreeImg img,
.projectList .projectOne .projectFourImg img,
.projectList .projectTwo .projectOneImg img,
.projectList .projectTwo .projectTwoImg img,
.projectList .projectTwo .projectThreeImg img,
.projectList .projectTwo .projectFourImg img,
.projectList .projectThree .projectOneImg img,
.projectList .projectThree .projectTwoImg img,
.projectList .projectThree .projectThreeImg img,
.projectList .projectThree .projectFourImg img,
.projectList .projectFour .projectOneImg img,
.projectList .projectFour .projectTwoImg img,
.projectList .projectFour .projectThreeImg img,
.projectList .projectFour .projectFourImg img {
  height: 100%;
}
.projectList button {
  background-color: #f6fff1;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1.5rem;
}
.projectList button:hover,
.projectList button:focus {
  background-color: #b1c7a4;
}
.projectList a {
  color: #545454;
}

.projectOne:hover,
.projectTwo:hover,
.projectThree:hover,
.projectFour:hover,
.projectOne:active,
.projectTwo:active,
.projectThree:active,
.projectFour:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 17px 38px 32px -6px rgba(250, 180, 162, 0.46);
          box-shadow: 17px 38px 32px -6px rgba(250, 180, 162, 0.46);
}
.projectOne:hover .html,
.projectTwo:hover .html,
.projectThree:hover .html,
.projectFour:hover .html,
.projectOne:active .html,
.projectTwo:active .html,
.projectThree:active .html,
.projectFour:active .html {
  color: #e34c26;
}
.projectOne:hover .css,
.projectTwo:hover .css,
.projectThree:hover .css,
.projectFour:hover .css,
.projectOne:active .css,
.projectTwo:active .css,
.projectThree:active .css,
.projectFour:active .css {
  color: #264de4;
}
.projectOne:hover .sass,
.projectTwo:hover .sass,
.projectThree:hover .sass,
.projectFour:hover .sass,
.projectOne:active .sass,
.projectTwo:active .sass,
.projectThree:active .sass,
.projectFour:active .sass {
  color: #cc6699;
}
.projectOne:hover .js,
.projectTwo:hover .js,
.projectThree:hover .js,
.projectFour:hover .js,
.projectOne:active .js,
.projectTwo:active .js,
.projectThree:active .js,
.projectFour:active .js {
  color: #f0db4f;
}
.projectOne:hover .react,
.projectTwo:hover .react,
.projectThree:hover .react,
.projectFour:hover .react,
.projectOne:active .react,
.projectTwo:active .react,
.projectThree:active .react,
.projectFour:active .react {
  color: #88dded;
}
.projectOne:hover .firebase,
.projectTwo:hover .firebase,
.projectThree:hover .firebase,
.projectFour:hover .firebase,
.projectOne:active .firebase,
.projectTwo:active .firebase,
.projectThree:active .firebase,
.projectFour:active .firebase {
  color: #FFA611;
}
.projectOne:hover .api,
.projectTwo:hover .api,
.projectThree:hover .api,
.projectFour:hover .api,
.projectOne:active .api,
.projectTwo:active .api,
.projectThree:active .api,
.projectFour:active .api {
  color: #868686;
}

.skillsSection {
  height: 80vh;
}
.skillsSection h2::before {
  width: 62rem;
  background-color: #b1c7a4;
}

.skillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skillsList li {
  margin: 2rem;
  text-align: center;
}
.skillsList li i {
  font-size: 4rem;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}
.skillsList li li:hover {
  color: #fab4a2;
  font-size: 6rem;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  margin: none;
}
.skillsList li p {
  text-transform: uppercase;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.formContainer .formText {
  width: 40%;
}
.formContainer form {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6fff1;
  padding: 2rem;
  margin-left: 2rem;
  position: relative;
  border-right: 5px solid #fab4a2;
  border-bottom: 5px solid #fab4a2;
}
.formContainer form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.formContainer form .inputs input[type=text],
.formContainer form .inputs input[type=email] {
  width: 50%;
  height: 3rem;
  margin-bottom: 1rem;
}
.formContainer form .inputs input[type=text] {
  margin-right: 1rem;
}
.formContainer form input[type=text],
.formContainer form input[type=email],
.formContainer form textarea {
  background-color: none;
  border: none;
  border-right: 2px solid #b1c7a4;
  border-bottom: 2px solid #b1c7a4;
  border-radius: 1.5rem;
  padding: 1rem;
}
.formContainer form textarea {
  resize: none;
  height: 15rem;
}
.formContainer form button {
  width: 45%;
  background-color: #f6fff1;
  color: #fab4a2;
  text-transform: uppercase;
  border: none;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1.5rem;
}

h4 {
  font-size: 2rem;
}

h4::before {
  width: 70%;
  background-color: #fab4a2;
}

footer {
  text-align: center;
  background-color: #b1c7a4;
}
footer p {
  margin: 0;
  padding: 1rem 0;
  color: #868686;
}

@media (max-width: 1100px) {
  header {
    height: 85vh;
  }
  header h1 {
    font-size: 7.5rem;
  }

  .navigationBar {
    margin-top: 0rem;
  }

  .navigationBar::before {
    width: 103.5%;
  }

  .aboutSection {
    margin-bottom: 0;
  }
  .aboutSection .aboutText {
    padding: 0;
  }
  .aboutSection .aboutText h2::before {
    width: 60%;
  }

  .projectSection h2::before {
    width: 75%;
  }

  .projectList .projectOne,
.projectList .projectTwo,
.projectList .projectThree,
.projectList .projectFour {
    width: 90%;
  }
  .projectList .projectOne .projectOneText,
.projectList .projectOne .projectTwoText,
.projectList .projectOne .projectThreeText,
.projectList .projectOne .projectFourText,
.projectList .projectTwo .projectOneText,
.projectList .projectTwo .projectTwoText,
.projectList .projectTwo .projectThreeText,
.projectList .projectTwo .projectFourText,
.projectList .projectThree .projectOneText,
.projectList .projectThree .projectTwoText,
.projectList .projectThree .projectThreeText,
.projectList .projectThree .projectFourText,
.projectList .projectFour .projectOneText,
.projectList .projectFour .projectTwoText,
.projectList .projectFour .projectThreeText,
.projectList .projectFour .projectFourText {
    padding: 1.5rem 2rem;
  }

  .skillsSection h2::before {
    width: 75%;
  }
  .skillsSection .skillsList li {
    margin: 1rem;
  }
}
@media (max-width: 980px) {
  body {
    line-height: 1.5;
  }

  header h1 {
    font-size: 6.5rem;
  }
  header .developer {
    margin-top: 2.4rem;
  }

  .aboutSection .aboutText {
    margin-left: 1rem;
    padding-left: 2rem;
  }
  .aboutSection .aboutText h2::before {
    width: 50%;
  }

  .projectSection h2::before {
    width: 65%;
  }

  .skillsSection h2::before {
    width: 65%;
  }
  .skillsSection .skillsList i {
    font-size: 3rem;
  }

  h4::before {
    width: 65%;
  }
}
@media (max-width: 780px) {
  body {
    text-align: center;
  }

  .arrow {
    display: none;
  }

  h2::before,
h4::before {
    content: "";
    display: block;
    height: 45%;
    position: absolute;
    left: 25%;
    bottom: -5%;
    z-index: -100;
  }

  header h1 {
    font-size: 6rem;
    margin-top: 3.5rem;
  }
  header .aboutArrow {
    display: block;
  }

  .aboutSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: inherit;
  }
  .aboutSection .aboutText {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }
  .aboutSection .aboutText h2 {
    text-align: center;
  }
  .aboutSection .aboutText h2::before {
    width: 50%;
  }
  .aboutSection .aboutImg {
    width: 45%;
    margin: 0 auto;
  }

  .projectSection h2 {
    text-align: center;
  }

  .projectSection h2::before {
    width: 50%;
  }

  .projectList .skillsArrow {
    display: block;
  }

  .skillsSection h2 {
    text-align: center;
  }
  .skillsSection h2::before {
    width: 50%;
  }

  h4 {
    text-align: center;
  }

  h4::before {
    width: 50%;
  }

  .formContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formContainer .formText,
.formContainer form {
    width: 100%;
  }
  .formContainer form {
    margin: 0;
  }
}
@media (max-width: 625px) {
  .arrow {
    display: none;
  }

  .aboutArrow {
    display: block;
  }

  header {
    padding: 3rem 0;
  }
  header h1 {
    margin-top: 2.5rem;
    font-size: 5.5rem;
  }
  header .developer {
    margin: 2rem 0;
  }

  .navigationBar {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    right: -20rem;
    z-index: 5;
    margin-top: 0;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .navigationBar a {
    margin: 0 1rem;
  }

  .responsiveBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    right: 0;
  }

  nav .openNav {
    display: block;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .closeNav {
    display: block;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .projectList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .projectList .skillsArrow {
    display: none;
  }
  .projectList .projectOne,
.projectList .projectTwo,
.projectList .projectThree,
.projectList .projectFour {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectList .projectOne .projectOneImg,
.projectList .projectOne .projectTwoImg,
.projectList .projectOne .projectThreeImg,
.projectList .projectOne .projectFourImg,
.projectList .projectTwo .projectOneImg,
.projectList .projectTwo .projectTwoImg,
.projectList .projectTwo .projectThreeImg,
.projectList .projectTwo .projectFourImg,
.projectList .projectThree .projectOneImg,
.projectList .projectThree .projectTwoImg,
.projectList .projectThree .projectThreeImg,
.projectList .projectThree .projectFourImg,
.projectList .projectFour .projectOneImg,
.projectList .projectFour .projectTwoImg,
.projectList .projectFour .projectThreeImg,
.projectList .projectFour .projectFourImg {
    width: 100%;
  }
  .projectList .projectOne .projectOneText,
.projectList .projectOne .projectTwoText,
.projectList .projectOne .projectThreeText,
.projectList .projectOne .projectFourText,
.projectList .projectTwo .projectOneText,
.projectList .projectTwo .projectTwoText,
.projectList .projectTwo .projectThreeText,
.projectList .projectTwo .projectFourText,
.projectList .projectThree .projectOneText,
.projectList .projectThree .projectTwoText,
.projectList .projectThree .projectThreeText,
.projectList .projectThree .projectFourText,
.projectList .projectFour .projectOneText,
.projectList .projectFour .projectTwoText,
.projectList .projectFour .projectThreeText,
.projectList .projectFour .projectFourText {
    width: 100%;
  }
  .projectList .projectOne .projectOneText .languages ul li,
.projectList .projectOne .projectTwoText .languages ul li,
.projectList .projectOne .projectThreeText .languages ul li,
.projectList .projectOne .projectFourText .languages ul li,
.projectList .projectTwo .projectOneText .languages ul li,
.projectList .projectTwo .projectTwoText .languages ul li,
.projectList .projectTwo .projectThreeText .languages ul li,
.projectList .projectTwo .projectFourText .languages ul li,
.projectList .projectThree .projectOneText .languages ul li,
.projectList .projectThree .projectTwoText .languages ul li,
.projectList .projectThree .projectThreeText .languages ul li,
.projectList .projectThree .projectFourText .languages ul li,
.projectList .projectFour .projectOneText .languages ul li,
.projectList .projectFour .projectTwoText .languages ul li,
.projectList .projectFour .projectThreeText .languages ul li,
.projectList .projectFour .projectFourText .languages ul li {
    margin: 0 auto;
  }
  .projectList .projectOne:hover,
.projectList .projectTwo:hover,
.projectList .projectThree:hover,
.projectList .projectFour:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }

  .skillsSection {
    height: inherit;
  }
}
@media (max-width: 480px) {
  h2::before,
h4::before {
    content: "";
    display: block;
    height: 45%;
    position: absolute;
    left: 12%;
    bottom: -5%;
    z-index: -100;
  }

  header h1 {
    font-size: 5rem;
  }
  header h1,
header .developer {
    padding-right: 2rem;
  }

  .aboutSection .aboutImg {
    width: 60%;
  }
  .aboutSection .aboutText {
    padding: 1rem;
  }
  .aboutSection .aboutText h2::before {
    width: 75%;
  }

  .projectList .projectOne,
.projectList .projectTwo,
.projectList .projectThree,
.projectList .projectFour {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    width: 90%;
    margin: 1rem auto;
  }
  .projectList .projectOne .projectOneText,
.projectList .projectOne .projectTwoText,
.projectList .projectOne .projectThreeText,
.projectList .projectOne .projectFourText,
.projectList .projectTwo .projectOneText,
.projectList .projectTwo .projectTwoText,
.projectList .projectTwo .projectThreeText,
.projectList .projectTwo .projectFourText,
.projectList .projectThree .projectOneText,
.projectList .projectThree .projectTwoText,
.projectList .projectThree .projectThreeText,
.projectList .projectThree .projectFourText,
.projectList .projectFour .projectOneText,
.projectList .projectFour .projectTwoText,
.projectList .projectFour .projectThreeText,
.projectList .projectFour .projectFourText {
    padding: 2rem;
    text-align: center;
  }

  .projectSection h2::before {
    width: 75%;
  }

  .skillsSection h2::before {
    width: 75%;
  }

  h4::before {
    width: 75%;
  }

  .formContainer form .inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formContainer form .inputs input[type=text],
.formContainer form .inputs input[type=email] {
    width: 100%;
  }
  .formContainer form .inputs input[type=text] {
    margin-right: 0;
  }
}