html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Prata", serif;
  font-weight: normal;
  font-size: 125%;
  line-height: 1.75;
  background-color: white;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

h2,
h4 {
  text-align: right;
  text-transform: uppercase;
  position: relative;
}

h2::before,
h4::before {
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  left: 0;
  top: 50%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.arrow,
.arrowUp {
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
  color: #b1c7a4;
}

.aboutArrow,
.skillsArrow,
.arrowUp {
  color: #fab4a2;
}

header {
  height: 90vh;
}
header h1 {
  font-family: "BioRhyme", serif;
  font-size: 8rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 1rem 0 3rem 0;
}
header p {
  text-align: right;
}
header span {
  display: block;
}
header span::before {
  content: "";
  -webkit-animation: animate infinite 8s;
          animation: animate infinite 8s;
}
@-webkit-keyframes animate {
  0% {
    content: "Front-end Developer";
  }
  20% {
    content: "Hairstylist";
  }
  40% {
    content: "Foodie";
  }
  60% {
    content: "Front-end Developer";
  }
  80% {
    content: "Hairstylist";
  }
  100% {
    content: "Foodie";
  }
}
@keyframes animate {
  0% {
    content: "Front-end Developer";
  }
  20% {
    content: "Hairstylist";
  }
  40% {
    content: "Foodie";
  }
  60% {
    content: "Front-end Developer";
  }
  80% {
    content: "Hairstylist";
  }
  100% {
    content: "Foodie";
  }
}

nav .openNav {
  display: none;
  margin: 1rem;
}

.closeNav {
  display: none;
}

.navigationBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #f6fff1;
  margin-top: 4rem;
}
.navigationBar a {
  color: #545454;
  margin: 1rem;
  padding: 0 1rem;
}
.navigationBar a:hover,
.navigationBar a:focus {
  color: #b1c7a4;
}
.navigationBar a:after,
.navigationBar a:before {
  border: 1px solid white;
  content: " ";
  display: block;
  margin: 0.5rem auto;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}
.navigationBar a:hover:after,
.navigationBar a:hover:before {
  border-color: #fab4a2;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 70%;
}
.navigationBar a:hover:before {
  width: 70%;
}

.navigationBar:hover,
.navigationBar:focus {
  -webkit-box-shadow: 17px 38px 32px -6px #868686;
          box-shadow: 17px 38px 32px -6px #868686;
}

.aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5rem 0 2rem 0;
  padding: 2rem;
  height: 80vh;
}
.aboutSection .aboutText {
  width: 65%;
  margin-left: 4rem;
  padding: 3rem;
}
.aboutSection .aboutText h2::before {
  width: 25rem;
  background-color: #b1c7a4;
}
.aboutSection img {
  width: 35%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.projectSection h2::before {
  width: 59rem;
  background-color: #fab4a2;
}

.projectList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projectList .skillsArrow {
  display: inline-block;
  position: absolute;
  right: 0.5rem;
}
.projectList .projectOne,
.projectList .projectTwo,
.projectList .projectThree,
.projectList .projectFour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5rem 0;
}
.projectList .projectOne .projectOneText,
.projectList .projectOne .projectTwoText,
.projectList .projectOne .projectThreeText,
.projectList .projectOne .projectFourText,
.projectList .projectTwo .projectOneText,
.projectList .projectTwo .projectTwoText,
.projectList .projectTwo .projectThreeText,
.projectList .projectTwo .projectFourText,
.projectList .projectThree .projectOneText,
.projectList .projectThree .projectTwoText,
.projectList .projectThree .projectThreeText,
.projectList .projectThree .projectFourText,
.projectList .projectFour .projectOneText,
.projectList .projectFour .projectTwoText,
.projectList .projectFour .projectThreeText,
.projectList .projectFour .projectFourText {
  width: 60%;
  background-color: #f6fff1;
  padding: 3rem 3rem 3rem 7rem;
  border: 1px solid #868686;
}
.projectList .projectOne .projectOneText .languages ul,
.projectList .projectOne .projectTwoText .languages ul,
.projectList .projectOne .projectThreeText .languages ul,
.projectList .projectOne .projectFourText .languages ul,
.projectList .projectTwo .projectOneText .languages ul,
.projectList .projectTwo .projectTwoText .languages ul,
.projectList .projectTwo .projectThreeText .languages ul,
.projectList .projectTwo .projectFourText .languages ul,
.projectList .projectThree .projectOneText .languages ul,
.projectList .projectThree .projectTwoText .languages ul,
.projectList .projectThree .projectThreeText .languages ul,
.projectList .projectThree .projectFourText .languages ul,
.projectList .projectFour .projectOneText .languages ul,
.projectList .projectFour .projectTwoText .languages ul,
.projectList .projectFour .projectThreeText .languages ul,
.projectList .projectFour .projectFourText .languages ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projectList .projectOne .projectOneText .languages ul li,
.projectList .projectOne .projectTwoText .languages ul li,
.projectList .projectOne .projectThreeText .languages ul li,
.projectList .projectOne .projectFourText .languages ul li,
.projectList .projectTwo .projectOneText .languages ul li,
.projectList .projectTwo .projectTwoText .languages ul li,
.projectList .projectTwo .projectThreeText .languages ul li,
.projectList .projectTwo .projectFourText .languages ul li,
.projectList .projectThree .projectOneText .languages ul li,
.projectList .projectThree .projectTwoText .languages ul li,
.projectList .projectThree .projectThreeText .languages ul li,
.projectList .projectThree .projectFourText .languages ul li,
.projectList .projectFour .projectOneText .languages ul li,
.projectList .projectFour .projectTwoText .languages ul li,
.projectList .projectFour .projectThreeText .languages ul li,
.projectList .projectFour .projectFourText .languages ul li {
  font-size: 0.9rem;
  margin-right: 1rem;
  text-transform: uppercase;
}
.projectList .projectOne img,
.projectList .projectTwo img,
.projectList .projectThree img,
.projectList .projectFour img {
  width: 40%;
  height: 30rem;
}
.projectList button {
  background-color: #f6fff1;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1.5rem;
}
.projectList button:hover,
.projectList button:focus {
  background-color: #b1c7a4;
}
.projectList a {
  color: #545454;
}

.projectOne:hover,
.projectTwo:hover,
.projectThree:hover,
.projectFour:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 17px 38px 32px -6px rgba(250, 180, 162, 0.46);
          box-shadow: 17px 38px 32px -6px rgba(250, 180, 162, 0.46);
}
.projectOne:hover .html,
.projectTwo:hover .html,
.projectThree:hover .html,
.projectFour:hover .html {
  color: #e34c26;
}
.projectOne:hover .css,
.projectTwo:hover .css,
.projectThree:hover .css,
.projectFour:hover .css {
  color: #264de4;
}
.projectOne:hover .sass,
.projectTwo:hover .sass,
.projectThree:hover .sass,
.projectFour:hover .sass {
  color: #cc6699;
}
.projectOne:hover .js,
.projectTwo:hover .js,
.projectThree:hover .js,
.projectFour:hover .js {
  color: #f0db4f;
}
.projectOne:hover .react,
.projectTwo:hover .react,
.projectThree:hover .react,
.projectFour:hover .react {
  color: #88dded;
}
.projectOne:hover .firebase,
.projectTwo:hover .firebase,
.projectThree:hover .firebase,
.projectFour:hover .firebase {
  color: #FFA611;
}
.projectOne:hover .api,
.projectTwo:hover .api,
.projectThree:hover .api,
.projectFour:hover .api {
  color: #868686;
}

.skillsSection {
  height: 80vh;
}
.skillsSection h2::before {
  width: 62rem;
  background-color: #b1c7a4;
}

.skillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skillsList li {
  margin: 2rem 2rem;
  text-align: center;
}
.skillsList li i {
  font-size: 4rem;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}
.skillsList li li:hover {
  color: #fab4a2;
  font-size: 6rem;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  margin: none;
}
.skillsList li p {
  text-transform: uppercase;
}

form {
  background-color: #f6fff1;
}

h4::before {
  width: 59rem;
  background-color: #fab4a2;
}

footer {
  text-align: center;
  background-color: #b1c7a4;
}
footer p {
  margin: 0;
  padding: 1rem 0;
  color: #868686;
}

@media (max-width: 1100px) {
  header {
    height: 85vh;
  }
  header h1 {
    font-size: 7.5rem;
    margin: 0;
  }

  .navigationBar {
    margin-top: 8rem;
  }

  .aboutSection {
    margin-bottom: 0;
  }
  .aboutSection .aboutText {
    padding: 0;
  }
}
@media (max-width: 980px) {
  header h1 {
    font: 6rem;
  }

  .aboutSection .aboutText {
    margin-left: 1rem;
    width: 55%;
  }
  .aboutSection img {
    width: 45%;
  }
}
@media (max-width: 780px) {
  header h1 {
    font-size: 5rem;
  }

  .aboutSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutSection .aboutText {
    width: 100%;
  }
  .aboutSection .aboutText h2 {
    text-align: center;
  }
  .aboutSection img {
    width: 50%;
    height: 30rem;
    margin: 0 auto;
  }

  .projectSection h2 {
    text-align: center;
  }

  .skillsSection h2 {
    text-align: center;
  }
}
@media (max-width: 625px) {
  nav .openNav {
    display: block;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .closeNav {
    display: block;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .navigationBar {
    height: 100vh;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #b1c7a4;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    margin-top: 0;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0.52, 0, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0, 0.52, 0, 1);
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1), -webkit-transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  }

  .responsiveBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
  }
}
@media (max-width: 480px) {
  header h1 {
    font-size: 5rem;
  }
  header .navigationBar {
    display: none;
  }

  .aboutSection .aboutText {
    padding: 1rem;
  }
  .aboutSection img {
    width: 100%;
  }

  .projectList .projectOne,
.projectList .projectTwo,
.projectList .projectThree,
.projectList .projectFour {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .projectList .projectOne .projectOneText,
.projectList .projectOne .projectTwoText,
.projectList .projectOne .projectThreeText,
.projectList .projectOne .projectFourText,
.projectList .projectTwo .projectOneText,
.projectList .projectTwo .projectTwoText,
.projectList .projectTwo .projectThreeText,
.projectList .projectTwo .projectFourText,
.projectList .projectThree .projectOneText,
.projectList .projectThree .projectTwoText,
.projectList .projectThree .projectThreeText,
.projectList .projectThree .projectFourText,
.projectList .projectFour .projectOneText,
.projectList .projectFour .projectTwoText,
.projectList .projectFour .projectThreeText,
.projectList .projectFour .projectFourText {
    width: 100%;
    padding: 2rem;
    text-align: center;
  }
  .projectList .projectOne img,
.projectList .projectTwo img,
.projectList .projectThree img,
.projectList .projectFour img {
    width: 100%;
  }
}